<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/products/<%= product.id %>" method="POST">
        <input type="text" name="name" placeholder="Product Name" value="<%= product.name %>">
        <input type="number" name="quantity" placeholder="Quantity" value="<%= product.quantity %>">
        <input type="NUmber" name="price" placeholder="Price" value="<%= product.price %>">
        <input type="text" name="img" placeholder="Image Url" value="<%= product.img %>">
        <input type="submit" value="Update Product">
    </form>
    
</body>
</html>